<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>회원 가입</h1>
<hr>

<div class="col-md-12">
    <div class="col-md-4">
        <form th:action="@{/user/signup}" method="post" modelAttribute="memberDto">
            <div class="form-group">
                <input type="text" name="uId" th:value="${memberDto.uId}" class="form-control" placeholder="아이디 입력해주세요.">
                <span th:text="${valid_uId}"></span>
            </div>
            <div class="form-group">
                <input type="text" name="email" th:value="${memberDto.email}" class="form-control" placeholder="이메일 입력해주세요.">
                <span th:text="${valid_email}"></span>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="비밀번호 입력해주세요.">
                <span th:text="${valid_password}"></span>
            </div>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="submit" class="btn btn-primary">가입하기</button>
        </form>
    </div>
</div>
</body>
</html>